section {
    background: #fff;
    padding: 6.5rem 5rem;
    margin: 2rem 5rem;
    border-radius: 2rem;
}
h2 {
    color: #4949b8;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.request,
label,
.form-control {
    width: 60%;
}
.request,
label {
    color: #b3b8bf;
    font-size: 14px;
    font-weight: 500;
}
.form-control {
    background: #f4f5fc;
    border: 0;
    border-radius: 2rem;
    height: 45px;
    margin-top: 5px;
}
.btn.btn-primary {
    background: #817eff;
    border-color: #817eff;
    font-size: 14px;
    padding: 1rem 5rem;
    border-radius: 2rem;
    margin-top: 1.5rem;
}
.location i,
.location p,
.location a {
    color: #bdc2dc;
    font-size: 14px;
    font-weight: 600;
}
.location .address {
    width: 80%;
}
.location i {
    margin-top: 5px;
}
.social-icons {
    margin-top: 4rem;
}
.social-icons img {
    height: 6rem;
}